.jumbotron{
    background-image: url(https://tr4.cbsistatic.com/hub/i/r/2016/09/16/f39bcc82-aa71-4eb6-853c-033160ebfac6/resize/1200x/8a1991394ad4cede464a18781a302a61/data-center.jpg); 
    color:white;
    font-weight: bold;
}

.btn{
    background-color: blue;
}

.btn-reserva{
    width: 100%;
}

.footer{
    padding: 10px 10px 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}